<?xml version="1.0" encoding="UTF-8"?>
<launch>
  {% for node in bridges %}
    {% set node_name = node.name.lower() %}
    {% set node_exec = node_name + '.py' %}
    <node name="{{ node_name }}" pkg="{{ package.name }}" type="{{ node_exec }}" output="screen"
    respawn="true" respawn_delay="2" required="false"/>
  {% endfor %}
</launch>
